<div class="container-fluid">
    <div class="row">
        <div class="container-fluid title">@ViewData["title"]</div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    @*<div class="input-group">
                            <span class="input-group-addon" id="@ViewData["page"]_mavach_label" style="min-width:90px;">Mã vạch</span>
                            <input id="@ViewData["page"]_mavach" type="text" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_mavach_label">
                        </div>*@
                    <div class="input-group">
                        <span class="input-group-addon" id="@ViewData["page"]_kho_label" style="min-width:90px;">Kho</span>
                        <input id="@ViewData["page"]_kho" type="text" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_kho_label">
                        <a href="#" class="input-group-addon" id="@ViewData["page"]_kho_filter"><i class="fa fa-sort-desc"></i></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div class="input-group" style="margin-left:-15px;">
                        <span class="input-group-addon" id="@ViewData["page"]_bietduoc_label" style="min-width:90px;">Biệt dược</span>
                        <input id="@ViewData["page"]_bietduoc" type="text" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_bietduoc_label">
                        <a href="#" class="input-group-addon" id="@ViewData["page"]_bietduoc_filter"><i class="fa fa-sort-desc"></i></a>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="@ViewData["page"]_hoatchat_label" style="min-width:90px;">Hoạt chất</span>
                        <input id="@ViewData["page"]_hoatchat" type="text" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_hoatchat_label">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="@ViewData["page"]_dvt_label" style="min-width:90px;">Đơn vị cấp</span>
                        <input id="@ViewData["page"]_dvt" type="text" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_dvt_label">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="@ViewData["page"]_gia_label" style="min-width:90px;">Giá</span>
                        <input id="@ViewData["page"]_gia" type="text" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_gia_label">
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="@ViewData["page"]_soluong_label" style="min-width:90px;">Số lượng</span>
                        <input id="@ViewData["page"]_soluong" type="text" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_soluong_label">
                        <span class="input-group-addon" id="@ViewData["page"]_uongmoingay_label" style="min-width:90px;">Uống mỗi ngày</span>
                        <input id="@ViewData["page"]_uongmoingay" type="text" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_uongmoingay_label">
                        <span class="input-group-addon" id="@ViewData["page"]_uongmoilan_label" style="min-width:90px;"> lần, mỗi lần</span>
                        <input id="@ViewData["page"]_uongmoilan" type="text" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_uongmoilan_label">
                        <span class="input-group-addon" id="@ViewData["page"]_cachngay_label" style="min-width:90px;">Cách</span>
                        <input id="@ViewData["page"]_cachngay" type="text" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_cachngay_label">
                        <span class="input-group-addon" id="@ViewData["page"]_cachngay_label" style="min-width:90px;">ngày</span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="input-group">
                        <span class="input-group-addon" id="@ViewData["page"]_dungkhi_label" style="min-width:90px;">Dùng khi</span>
                        <input id="@ViewData["page"]_dungkhi" type="text" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_dungkhi_label">
                        <a href="#" class="input-group-addon" id="@ViewData["page"]_dungkhi_filter"><i class="fa fa-sort-desc"></i></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div class="input-group" style="margin-left:-15px;">
                        <span class="input-group-addon" id="@ViewData["page"]_cachdung_label" style="min-width:90px;">Cách dùng</span>
                        <input id="@ViewData["page"]_cachdung" type="text" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_cachdung_label">
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left">
                    <input id="@ViewData["page"]_them" type="button" class="btn btn-sm btn-success" value="Thêm" />                   
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:right">             
                    <input id="@ViewData["page"]_luu" type="button" class="btn btn-sm btn-primary" value="Lưu" />       
                    <input id="@ViewData["page"]_boqua" type="button" class="btn btn-sm btn-info" value="Bỏ Qua" />
                    <input id="@ViewData["page"]_sua" type="button" class="btn btn-sm btn-warning" value="Sữa" />
                    <input id="@ViewData["page"]_xoa" type="button" class="btn btn-sm btn-danger" value="Xóa" />
                    <input id="@ViewData["page"]_ketthuc" type="button" class="btn btn-sm btn-default" value="Kết Thúc" />
                </div>
            </div>
        </div>
    </div>
</div>
