@model IEnumerable<Medical.Models.Data.Kho>
@{
    ViewData["title"] = "Khai Báo Kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Custom/Duoc.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid title">Thông tin Kho</div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ma", "input", "Mã"));
                        </script>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ten", "input", "Tên(*)"));
                        </script>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="input-group" style="">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_nhomkho", "filter", "Nhóm kho(*)"));
                        </script>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="input-group">
                        @*<span class="input-group-addon" id="@ViewData["page"]_ghichu_label" style="min-width:90px;">Ghi chú</span>
                        <textarea class="form-control" rows="3" id="@ViewData["page"]_ghichu" aria-describedby="@ViewData["page"]_ghichu_label"></textarea>*@
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ghichu", "textarea", "Ghi chú"));
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div id="@ViewData["page"]_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="col-sm-12">
        <table id="@ViewData["page"]_gidview" class="table table-sm table-striped table-bordered dataTable" role="grid" aria-describedby="@ViewData["page"]_gidview_info" style="width: 100%;" width="100%" cellspacing="0">
            <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="@ViewData["page"]_gidview" rowspan="1" colspan="1" style="width: auto;" aria-sort="ascending" aria-label="ID: activate to sort column descending">ID</th>
                    <th class="sorting" tabindex="0" aria-controls="@ViewData["page"]_gidview" rowspan="1" colspan="1" style="width: auto;" aria-label="Nhóm: activate to sort column ascending">Nhóm</th>
                    <th class="sorting" tabindex="0" aria-controls="@ViewData["page"]_gidview" rowspan="1" colspan="1" style="width: auto;" aria-label="Mã: activate to sort column ascending">Mã</th>
                    <th class="sorting" tabindex="0" aria-controls="@ViewData["page"]_gidview" rowspan="1" colspan="1" style="width: auto;" aria-label="Tên: activate to sort column ascending">Tên</th>
                    <th class="sorting" tabindex="0" aria-controls="@ViewData["page"]_gidview" rowspan="1" colspan="1" style="width: auto;" aria-label="Ghi chú: activate to sort column ascending">Ghi chú</th>
                </tr>
            </thead>
            @*<tfoot>
                <tr>
                    <th rowspan="1" colspan="1">Name</th>
                    <th rowspan="1" colspan="1">Position</th>
                    <th rowspan="1" colspan="1">Office</th>
                    <th rowspan="1" colspan="1">Age</th>
                    <th rowspan="1" colspan="1">Start date</th>
                </tr>
            </tfoot>*@
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.id_nhomkho</td>
                        <td>@item.ma</td>
                        <td>@item.ten</td>
                        <td>@item.ghichu</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:right">
        @*<input id="@ViewData["page"]_themmoi" type="button" class="btn btn-sm btn-success" value="Thêm mới" />
        <input id="@ViewData["page"]_luu" type="button" class="btn btn-sm btn-primary" value="Lưu" />
        <input id="@ViewData["page"]_boqua" type="button" class="btn btn-sm btn-info" value="Bỏ Qua" />
        <input id="@ViewData["page"]_sua" type="button" class="btn btn-sm btn-warning" value="Sữa" />
        <input id="@ViewData["page"]_xoa" type="button" class="btn btn-sm btn-danger" value="Xóa" />
        <input id="@ViewData["page"]_ketthuc" type="button" class="btn btn-sm btn-default" value="Kết Thúc" />*@
        <script type="text/javascript">
            document.write(f_create_btn_group("@ViewData["page"]", "themmoi~luu~boqua~sua~xoa~ketthuc", "success~primary~info~warning~danger~default", "Thêm mới~Lưu~Bỏ Qua~Sữa~Xóa~Kết Thúc"));
        </script>
    </div>
</div>
<script src="~/Scripts/Custom/Duoc.js"></script>