@using Newtonsoft.Json;
@model IEnumerable<Medical.Models.Data.Nhapkho>
@{
    ViewBag.Title = "Quản Lý Kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Custom/Duoc.css" rel="stylesheet" />
<div class="container-fluid">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#thonhtin" aria-controls="thonhtin" role="tab" data-toggle="tab" onclick="f_tab_click(this, 'nhapkhos', false)">Chi tiết phiếu</a></li>
        <li role="presentation" class="active"><a href="#danhsach" aria-controls="danhsach" role="tab" data-toggle="tab" onclick="f_tab_click(this, 'nhapkhos', true)">Danh sách phiếu nhập</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" style="margin-bottom: 35px;">
        <div role="tabpanel" class="tab-pane fade" id="thonhtin">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                    <div class="container-fluid custom-title">Chi tiết phiếu</div>
                    <script type="text/javascript">
                        document.write(f_create_input("@ViewData["page"]_ct_id", "hidden", "", ""));
                        document.write(f_create_input("@ViewData["page"]_ct_idnhapkho", "hidden", "", ""));
                    </script>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_lydo", "filter", "Lý do", "color:blue;font-weight:bold"));
                        </script>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="form-group" style="margin-bottom:0;">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_ngayhd", "datepicker", "Ngày HĐ", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_sohd", "input", "Số HĐ", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_sotienhd", "input", "Số tiền HĐ", ""));
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_sophieu", "input", "Số phiếu", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="form-group" style="margin-bottom:0;">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_ngayn", "datepicker", "Ngày nhập", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_nguoigiao", "input", "Người giao", ""));
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_kho", "filter", "Kho nhập", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_nhacc", "filter", "Nhà C.Cấp", ""));
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_ghichu", "input", "Ghi chú", ""));
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_sotien", "input", "Số tiền", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_sotientruck", "input", "Số tiền(-CK)", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_sotientruckcongvat", "input", "Số tiền(-CK + VAT)", ""));
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;padding: 0 30px;">
                    <div class="row">
                        <div class="row" id="@ViewData["page"]_ct_ds">
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_sodk", "input", "Số ĐK", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_ma", "input", "Mã", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_tenthuoc", "filter", "Tên thuốc", ""));
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_hoatchat", "textarea", "Hoạt chất~1", ""));
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_donvidg", "filter", "Đơn vị ĐG", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_donvisd", "filter", "Đơn vị SD", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_hangsx", "filter", "Hãng SX", ""));
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        @*<script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_soluong", "input", "Số lượng", ""));
                        </script>*@
                        <span id="@ViewData["page"]_ct_soluong_label" class="input-group-addon input-label">Số lượng</span>
                        <input id="@ViewData["page"]_ct_soluong" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_ct_soluong_label" onkeypress="input_keypress(event,this);" onblur="input_onblur(this);" onkeyup="input_keyup(event, this);" type="text">
                        <span id="@ViewData["page"]_ct_nhan_label" class="input-group-addon input-label" style="min-width:20px;">x</span>
                        <input id="@ViewData["page"]_ct_nhan" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_ct_nhan_label" onkeypress="input_keypress(event,this);" onblur="input_onblur(this);" onkeyup="input_keyup(event, this);" type="text">
                        <span id="@ViewData["page"]_ct_bang_label" class="input-group-addon input-label" style="min-width:20px;">=</span>
                        <input id="@ViewData["page"]_ct_bang" class="form-control input-sm" placeholder="" aria-describedby="@ViewData["page"]_ct_bang_label" onkeypress="input_keypress(event,this);" onblur="input_onblur(this);" onkeyup="input_keyup(event, this);" type="text">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_dongia", "input", "Giá", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_dongiadg", "input", "Giá ĐG", ""));
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_ck", "input", "Chiết khấu", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_vat", "input", "VAT", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_dongiacu", "input", "Giá cũ", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_dongiadgcu", "input", "Giá ĐG cũ", ""));
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_losx", "input", "Lô SX", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-bottom:10px;">
                    <div class="form-group" style="margin-bottom:0;">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_ngaysx", "datepicker", "Ngày SX", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-bottom:10px;">
                    <div class="form-group" style="margin-bottom:0;">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_ct_handung", "datepicker", "Hạn dùng", ""));
                        </script>
                    </div>
                </div>
            </div>
            <div class="row custom-btn-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:right">
                    <script type="text/javascript">
                        document.write(f_create_btn_group("@ViewData["page"]_ct", "themmoi~luu~boqua~sua~xoa~ketthuc", "primary~primary~primary~primary~primary~primary", "Thêm mới~Lưu~Bỏ Qua~Sữa~Xóa~Kết Thúc"));//success~primary~info~warning~danger~default
                    </script>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade  in active" id="danhsach">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                    <div class="container-fluid custom-title">Danh sách phiếu nhập</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_lydo", "filter", "Lý do", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="form-group" style="margin-bottom:0px;">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_tn", "datepicker", "Từ ngày", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="form-group" style="margin-bottom:0px;">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_dn", "datepicker", "Đến ngày", ""));
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_kho", "filter", "Tại kho", ""));
                        </script>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom:10px;">
                    <div class="input-group">
                        <script type="text/javascript">
                            document.write(f_create_input("@ViewData["page"]_nhanvien", "filter", "Nhân viên", ""));
                        </script>
                    </div>
                </div>
            </div>
            <div class="row custom-btn-group" style="margin-bottom:10px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                    <script type="text/javascript">
                        document.write(f_create_btn_group("@ViewData["page"]", "tim~themmoi", "primary~primary", "Tìm~Thêm mới"));//success~primary~info~warning~danger~default
                    </script>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                    <div class="container-fluid custom-title">Danh sách phiếu nhập</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0 30px; margin-bottom:10px;">
                    <div class="row">
                        <div class="row" id="@ViewData["page"]_ds">
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#page_duoc_nhapkho_tn").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#page_duoc_nhapkho_dn").datepicker({ dateFormat: 'dd/mm/yy' });
        var date = new Date();
        $("#page_duoc_nhapkho_tn").val(ms_lpad(date.getDate(), 2, '0') + "/" + ms_lpad(date.getMonth() + 1, 2, '0') + "/" + date.getFullYear());
        $("#page_duoc_nhapkho_dn").val(ms_lpad(date.getDate(), 2, '0') + "/" + ms_lpad(date.getMonth() + 1, 2, '0') + "/" + date.getFullYear());
        f_table_reload("nhapkhos");

        $("#page_duoc_nhapkho_ct_ngayhd").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#page_duoc_nhapkho_ct_ngayn").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#page_duoc_nhapkho_ct_ngaysx").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#page_duoc_nhapkho_ct_handung").datepicker({ dateFormat: 'dd/mm/yy' });

        ctnhapkho_enable(false);
    });
</script>
<script type="text/javascript" src="~/Scripts/Custom/Duoc.js"></script>
