<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title"]</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/JqueryUI/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/JqueryUI/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/JqueryUI/jquery-ui.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        if (Session["User_name"] == null)
        {
            Session.Abandon();
            Response.Redirect("~/User/Login");
        }
    }
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/Custom/dataTables.bootstrap.min.css" rel="stylesheet" />*@
    @*<link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />*@
    @*<link type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />*@
    <link type="text/css" href="~/Content/Custom/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/Custom/Dungchung.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript" src="~/Scripts/Custom/Filter.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom/Dungchung.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Custom/dataTables.bootstrap.min.js"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>*@
</head>
@*<body class="home-bg">*@
    <body>
    <div class="container-fluid" style="padding:0">
        <div class="row">
            <div id="notice" class="alert col-lg-12 col-md-12 col-sm-12 col-xs-12 fade" style="position:fixed; top:0; z-index:101">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
            @*@Html.Partial("../Partial/_Header")*@
        </div>
        <div class="row" style="border-bottom:1px solid #cccccc;background-color:white;width:100%; margin:0">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="z-index:100;">
            <div class="row">
                @Html.Partial("../Partial/_LeftSidebar")
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-left: 0; padding-bottom: 15px; border-left: 1px solid #ccc;">
        @RenderBody()
    </div>

</div>
</div>
@RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#notice').append('@ViewData["message"]');
        if ("@ViewData["alert"]" != null && "@ViewData["alert"]" != "") {
            $('#notice').children().last().removeClass("field-validation-error");
            $('#notice').addClass("@ViewData["alert"]");
            $('#notice').children().last().css("font-size", "20px");
            $('#notice').css({ "font-size": "20px", "display": "block" });
            $('#notice').addClass("in");
        }
        setTimeout(function () {
            $('#notice').removeClass("in");
            $('#notice').css({ "display": "none" });
        }, 3000);
    });
</script>
